QPushButton {
    background-color: #222222; 
    font-weight: 800;
    color: white;
    padding: 12px 24px;
    font-size: 12px;
    margin: 2px 1px;
    border-radius: 8px; 
}

QPushButton:hover {
    background-color: #333333; 
}

QPushButton:pressed {
    background-color: #111111; 
}

